In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../data/CREDIT.csv')
df

,상권_코드_명,기준_년_코드,기준_분기_코드,yearquarter,lease_sole,lease_corp,owner,is_risky_0,is_risky_1,total_stores_count,...,average(sum_new_customer_cnt),average(sum_purchase_card),average(sum_purchase_cash),average(sum_purchase_invoice),average(sum_weekend_sales_delivery),average(sum_weekend_sales_card),average(sum_sales_card),average(sum_sales_delivery),average(sum_sales_invoice),경영_위기_비율
0,DMC(디지털미디어시티),2022,1,2022-1,42.0,11.0,0.0,45.0,8.0,53.0,...,5.313774,4.283320,0.393568,7.738196,2.030358e-01,0.915812,12.852669,1.010628e+00,7.111332e-02,0.150943
1,DMC(디지털미디어시티),2022,2,2022-2,44.0,9.0,0.0,42.0,11.0,53.0,...,6.588654,3.694610,0.533263,7.924871,1.722472e-01,1.178137,14.914570,7.851830e-01,8.402377e-02,0.207547
2,DMC(디지털미디어시티),2022,3,2022-3,43.0,6.0,0.0,42.0,7.0,49.0,...,6.333061,3.634459,0.528276,8.867591,1.222898e-01,1.118156,15.041290,7.247388e-01,9.105624e-02,0.142857
3,DMC(디지털미디어시티),2022,4,2022-4,42.0,6.0,0.0,34.0,14.0,48.0,...,5.896250,3.356604,0.511717,9.789668,9.441250e-02,1.134657,15.391691,5.187104e-01,1.372347e-01,0.291667
4,DMC(디지털미디어시티),2023,1,2023-1,38.0,6.0,0.0,34.0,10.0,44.0,...,5.619545,3.246602,0.578073,7.808107,5.118182e-02,0.878642,15.042280,4.506182e-01,1.560409e-01,0.227273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,화곡역,2022,1,2022-1,15.0,3.0,0.0,15.0,3.0,18.0,...,2.745000,39.839828,1.298314,50.917351,-1.000000e-09,16.760169,100.746551,-1.100000e-09,3.000000e-10,0.166667
561,화곡역,2022,2,2022-2,16.0,3.0,0.0,10.0,9.0,19.0,...,3.061053,51.727521,1.030745,49.884303,1.500000e-09,18.386999,108.078113,1.900000e-09,-8.000000e-10,0.473684
562,화곡역,2022,3,2022-3,18.0,3.0,0.0,13.0,8.0,21.0,...,2.933333,56.513540,1.113395,55.321360,1.900000e-09,14.736285,98.660373,-3.000000e-10,3.800000e-09,0.380952
563,화곡역,2022,4,2022-4,18.0,3.0,0.0,13.0,8.0,21.0,...,2.605238,78.228019,0.870120,67.192633,1.500000e-09,14.980474,94.620269,2.400000e-09,4.531800e-01,0.380952
564,화곡역,2023,1,2023-1,18.0,2.0,0.0,11.0,9.0,20.0,...,2.724000,42.736048,1.114233,61.275317,2.000000e-09,13.089936,100.235999,3.700000e-09,-8.600000e-09,0.450000

In [4]:
df.groupby('yearquarter').mean()

C:\Users\Samsung\AppData\Local\Temp\ipykernel_7460\1849609290.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('yearquarter').mean()

,기준_년_코드,기준_분기_코드,lease_sole,lease_corp,owner,is_risky_0,is_risky_1,total_stores_count,existing_customers_count,Restaurant,...,average(sum_new_customer_cnt),average(sum_purchase_card),average(sum_purchase_cash),average(sum_purchase_invoice),average(sum_weekend_sales_delivery),average(sum_weekend_sales_card),average(sum_sales_card),average(sum_sales_delivery),average(sum_sales_invoice),경영_위기_비율
yearquarter,,,,,,,,,,,,,,,,,,,,,
2022-1,2022.0,1.0,60.876106,3.823009,0.000000,54.734513,9.982301,64.716814,2.630568,44.840708,...,3.333524,5.264848,0.555180,16.709857,0.788061,5.735577,23.727705,2.580006,2.961343,0.152884
2022-2,2022.0,2.0,62.053097,3.911504,0.000000,53.769912,12.247788,66.017699,3.097585,45.716814,...,4.436913,5.527152,0.620780,18.740948,0.684930,7.427161,29.135977,2.131589,3.089760,0.190496
2022-3,2022.0,3.0,65.539823,4.159292,0.000000,56.725664,13.097345,69.823009,3.042159,48.362832,...,4.216066,5.826612,0.619551,17.957558,0.654634,6.916224,28.100186,2.152480,3.124886,0.186437
2022-4,2022.0,4.0,67.610619,4.469027,0.044248,58.486726,13.778761,72.265487,3.127150,50.247788,...,4.209067,5.907169,0.661405,19.692836,0.669893,7.715083,29.352664,2.047103,3.656014,0.190475
2023-1,2023.0,1.0,66.752212,4.504425,0.053097,58.646018,12.805310,71.451327,3.023711,49.548673,...,4.068221,3.730010,0.619276,17.675985,0.565371,6.981833,29.136063,1.861269,3.486838,0.171630