In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
# raw_data 있는 폴더 경로
directory_path = '/content/drive/MyDrive/bigcon/commercial_district_rawdata/'

# 한 번 데이터 살펴보기 ..

In [ ]:
집객시설_original = pd.read_csv(directory_path+'서울시 상권분석서비스(상권-집객시설).csv',encoding='cp949')

In [ ]:
집객시설_original

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,...,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
0,2022,4,D,발달상권,2120129,구로디지털단지,76,5.0,16.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0
1,2022,4,D,발달상권,2120127,구로구청,22,1.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0
2,2022,4,D,발달상권,2120130,구로디지털단지역,50,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,13.0
3,2022,4,D,발달상권,2120124,개봉동 현대아파트,66,4.0,2.0,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,15.0
4,2022,4,R,전통시장,2130225,개봉중앙시장,25,1.0,2.0,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38017,2017,1,A,골목상권,2110335,석계역 7번,30,2.0,1.0,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,15.0
38018,2017,1,A,골목상권,2110816,대방역 6번,7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,3.0
38019,2017,1,A,골목상권,2110244,중화역 4번,12,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,5.0
38020,2017,1,A,골목상권,2110321,동덕여대,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
38021,2017,1,A,골목상권,2110216,전농중학교,9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

In [ ]:
상권영역 = pd.read_csv(directory_path+'서울시 상권분석서비스(상권영역).csv',encoding='cp949')
점포 = pd.read_csv(directory_path+'서울시 상권분석서비스(상권-점포).csv',encoding='cp949')
추정매출 = pd.read_csv(directory_path+'서울시 상권분석서비스(상권-추정매출).csv',encoding='cp949')
상권변화지표 = pd.read_csv(directory_path+'서울시 상권분석서비스(상권-상권변화지표).csv',encoding='cp949')
집객시설 = pd.read_csv(directory_path+'서울시 상권분석서비스(상권-집객시설).csv',encoding='cp949')
아파트 = pd.read_csv(directory_path+'서울시 상권분석서비스(상권-아파트).csv',encoding='cp949')
상주인구 = pd.read_csv(directory_path+'서울시 상권분석서비스(상권-상주인구).csv',encoding='cp949')
직장인구 = pd.read_csv(directory_path+'서울시 상권분석서비스(상권-직장인구).csv',encoding='cp949')
생활인구 = pd.read_csv(directory_path+'서울시 상권분석서비스(상권-생활인구).csv',encoding='cp949')

# 데이터 정리 기준 불러오기
- 2022년 1월 ~ 12월
- 신용데이터와 연결을 위해 상권 데이터 113개로 한정

In [ ]:
# 데이터 정의서 파일 경로 입력
상권기준 = pd.read_excel(directory_path+'2023빅콘테스트_데이터신기술분야_데이터정의서.xlsx',sheet_name = 2).iloc[2:,:]
상권기준.columns=['상권_코드_명','상권_코드']
상권기준 = 상권기준.reset_index(drop=True)
상권기준

           상권_코드_명    상권_코드
0    DMC(디지털미디어시티)  2120098
1            가락시장역  2120234
2             가로수길  2120186
3          가산디지털단지  2120131
4            강남구청역  2120203
..             ...      ...
108        해방촌 남동측  2110081
109     홍대 걷고싶은 거리  2130191
110       홍대입구역 3번  2110564
111      홍대입구역(홍대)  2120103
112            화곡역  2120120

[113 rows x 2 columns]

In [ ]:
# 필요한 데이터 dict로 넣음. 파일명 필요해서 list 말고 dict로 ..
data_dict = {'점포':점포,
            '추정매출':추정매출,
            '상권변화지표':상권변화지표,
            '집객시설':집객시설,
            '아파트':아파트,
            '상주인구':상주인구,
            '직장인구':직장인구,
            '생활인구':생활인구}

In [ ]:
# key 컬럼 중 컬럼명 다른 애들 변경해주기
상주인구.rename(columns={'상권 코드 명':'상권_코드_명',
                         '상권 코드':'상권_코드'},inplace=True)
직장인구.rename(columns={'기준_년월_코드':'기준_년_코드'},inplace=True)
생활인구.rename(columns={'기준 년코드':'기준_년_코드'},inplace=True)

In [ ]:
processed_data_dict = {}

for df_name,df in data_dict.items():
    # 상권 기준 안에 있는 상권들만 추출
    df_filtered = df[df['상권_코드'].isin(상권기준['상권_코드'])]
    # 2022년 데이터만 추출
    df_filtered = df_filtered[df_filtered['기준_년_코드'] == 2022]
    processed_data_dict[df_name] = df_filtered  # Store processed data
    print('Name of the district : ',df_name)
    print('Only 2022 data included : ',df_filtered['기준_년_코드'].nunique()==1)
    print('All quarters included : ',df_filtered['기준_분기_코드'].nunique()==4)
    # 그 결과로 몇 개 상권이 뽑혔는지 확인
    print('Number of districts : ',df_filtered['상권_코드_명'].nunique(),'/ 113')
    print('---------------------------------------------')

Name of the district :  점포
Only 2022 data included :  True
All quarters included :  True
Number of districts :  113 / 113
---------------------------------------------
Name of the district :  추정매출
Only 2022 data included :  True
All quarters included :  True
Number of districts :  113 / 113
---------------------------------------------
Name of the district :  상권변화지표
Only 2022 data included :  True
All quarters included :  True
Number of districts :  113 / 113
---------------------------------------------
Name of the district :  집객시설
Only 2022 data included :  True
All quarters included :  True
Number of districts :  113 / 113
---------------------------------------------
Name of the district :  아파트
Only 2022 data included :  True
All quarters included :  True
Number of districts :  102 / 113
---------------------------------------------
Name of the district :  상주인구
Only 2022 data included :  True
All quarters included :  True
Number of districts :  113 / 113
---------------------------------------------
Name of the district :  직장인구
Only 2022 data included :  True
All quarters included :  True
Number of districts :  112 / 113
---------------------------------------------
Name of the district :  생활인구
Only 2022 data included :  True
All quarters included :  True
Number of districts :  113 / 113
---------------------------------------------

In [ ]:
# dict 안에서 변경된 df들을 다시 밖으로 끄집어내기 ..
점포 = processed_data_dict['점포']
추정매출 = processed_data_dict['추정매출']
상권변화지표 = processed_data_dict['상권변화지표']
집객시설 = processed_data_dict['집객시설']
아파트 = processed_data_dict['아파트']
상주인구 = processed_data_dict['상주인구']
직장인구 = processed_data_dict['직장인구']
생활인구 = processed_data_dict['생활인구']

# base_df 생성
- 113개 상권, 2022년, 4개 분기 포함
- 113 * 4 (2022 4분기) = 452행

In [ ]:
집객시설.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '집객시설_수', '관공서_수', '은행_수', '종합병원_수', '일반_병원_수', '약국_수', '유치원_수',
       '초등학교_수', '중학교_수', '고등학교_수', '대학교_수', '백화점_수', '슈퍼마켓_수', '극장_수',
       '숙박_시설_수', '공항_수', '철도_역_수', '버스_터미널_수', '지하철_역_수', '버스_정거장_수'],
      dtype='object')

In [ ]:
district_df = pd.read_excel('/content/drive/MyDrive/bigcon/datasheet.xlsx',sheet_name = 2)
district_list = district_df.iloc[2:,0].to_list()

In [ ]:
# 총 상권 목록과 전체 분기 포함된 df 생성
rows = []
for trdar_nm in district_list:
    for year in [2022]:
        for quarter in [1,2,3,4]:
            rows.append([trdar_nm, year, quarter])

# DataFrame 생성
columns1 = ['trdar_nm', 'year', 'quarter']
base_df = pd.DataFrame(rows, columns=columns1).sort_values(by='trdar_nm',ascending=True)
base_df

          trdar_nm  year  quarter
0    DMC(디지털미디어시티)  2022        1
1    DMC(디지털미디어시티)  2022        2
2    DMC(디지털미디어시티)  2022        3
3    DMC(디지털미디어시티)  2022        4
4            가락시장역  2022        1
..             ...   ...      ...
447      홍대입구역(홍대)  2022        4
450            화곡역  2022        3
448            화곡역  2022        1
449            화곡역  2022        2
451            화곡역  2022        4

[452 rows x 3 columns]

# 데이터 개수 안맞는 df들 확인 -> 데이터 없는 것들은 Nan값으로 처리할거라 해당 파트 무시 ㄱ
- 아파트
- 직장인구

## 각 파일별로 없는 상권 추출

In [ ]:
상권기준.to_csv('상권기준.csv')

In [ ]:
상권기준[~상권기준['상권_코드_명'].isin(아파트['상권_코드_명'])]

          상권_코드_명    상권_코드
0   DMC(디지털미디어시티)  2120098
8      강변역(테크노마트)  2120060
15        구로디지털단지  2120129
20  국회의사당역(국회의사당)  2120148
34        마곡역(마곡)  2120118
39   문래예술촌(문래창작촌)  2110759
63            수서역  2120224
76       양천향교역 7번  2110648
90          은행사거리  2120085
91         을지로3가역  2120031
92            인사동  2120008

In [ ]:
상권기준[~상권기준['상권_코드_명'].isin(직장인구['상권_코드_명'])]

    상권_코드_명    상권_코드
34  마곡역(마곡)  2120118

## delete라는 하나의 파일로 합치기
- 이건 옛날에 102개로 다 컷해서 쓸 때의 내용이라
- 지금은 안해도 될듯

In [ ]:
df1 = 상권기준[~상권기준['상권_코드_명'].isin(아파트['상권_코드_명'])]
df2 = 상권기준[~상권기준['상권_코드_명'].isin(직장인구['상권_코드_명'])]
delete = pd.concat([df1,df2])

In [ ]:
delete.to_csv('delete.csv')

In [ ]:
delete

          상권_코드_명    상권_코드
0   DMC(디지털미디어시티)  2120098
8      강변역(테크노마트)  2120060
15        구로디지털단지  2120129
20  국회의사당역(국회의사당)  2120148
34        마곡역(마곡)  2120118
39   문래예술촌(문래창작촌)  2110759
63            수서역  2120224
76       양천향교역 7번  2110648
90          은행사거리  2120085
91         을지로3가역  2120031
92            인사동  2120008
34        마곡역(마곡)  2120118

In [ ]:
점포['상권_코드_명'].nunique()

113

In [ ]:
점포 = 점포[~점포['상권_코드_명'].isin(delete['상권_코드_명'])]
추정매출 = 추정매출[~추정매출['상권_코드_명'].isin(delete['상권_코드_명'])]
상권변화지표 = 상권변화지표[~상권변화지표['상권_코드_명'].isin(delete['상권_코드_명'])]
집객시설 = 집객시설[~집객시설['상권_코드_명'].isin(delete['상권_코드_명'])]
아파트 = 아파트[~아파트['상권_코드_명'].isin(delete['상권_코드_명'])]
상주인구 = 상주인구[~상주인구['상권_코드_명'].isin(delete['상권_코드_명'])]
직장인구 = 직장인구[~직장인구['상권_코드_명'].isin(delete['상권_코드_명'])]
생활인구 = 생활인구[~생활인구['상권_코드_명'].isin(delete['상권_코드_명'])]

In [ ]:
# 상권 102개로 통일된 df들 넣고 새 dict 만들어줌 ..
data_dict2 = {'점포':점포,
            '추정매출':추정매출,
            '상권변화지표':상권변화지표,
            '집객시설':집객시설,
            '아파트':아파트,
            '상주인구':상주인구,
            '직장인구':직장인구,
            '생활인구':생활인구}

In [ ]:
점포

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
855,2022,4,R,전통시장,2130318,로데오거리상점가,CS300043,전자상거래업,3,3,0,0,0,0,0
856,2022,4,R,전통시장,2130318,로데오거리상점가,CS300036,조명용품,1,1,0,0,0,0,0
857,2022,4,R,전통시장,2130318,로데오거리상점가,CS300032,가전제품,1,1,0,0,0,0,0
858,2022,4,R,전통시장,2130318,로데오거리상점가,CS300031,가구,1,1,0,0,0,0,0
859,2022,4,R,전통시장,2130318,로데오거리상점가,CS300028,화초,2,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299464,2022,1,A,골목상권,2110008,배화여자대학교(박노수미술관),CS100005,제과점,8,9,11,1,0,0,1
299465,2022,1,A,골목상권,2110008,배화여자대학교(박노수미술관),CS100004,양식음식점,13,13,0,0,0,0,0
299466,2022,1,A,골목상권,2110008,배화여자대학교(박노수미술관),CS100003,일식음식점,4,4,0,0,0,0,0
299467,2022,1,A,골목상권,2110008,배화여자대학교(박노수미술관),CS100002,중식음식점,1,1,0,0,0,0,0
299468,2022,1,A,골목상권,2110008,배화여자대학교(박노수미술관),CS100001,한식음식점,18,18,0,0,0,0,0

In [ ]:
집객시설

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,...,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
2,2022,4,D,발달상권,2120130,구로디지털단지역,50,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,13.0
33,2022,4,D,발달상권,2120188,압구정역,213,NaN,14.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6.0
34,2022,4,D,발달상권,2120081,노원역,217,2.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,27.0
40,2022,4,D,발달상권,2120245,둔촌역,80,2.0,5.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6.0
50,2022,4,D,발달상권,2120055,군자역,93,2.0,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6258,2022,1,D,발달상권,2120081,노원역,217,2.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,27.0
6272,2022,1,D,발달상권,2120130,구로디지털단지역,50,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,13.0
6278,2022,1,D,발달상권,2120119,발산역(마곡),105,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,18.0
6288,2022,1,D,발달상권,2120112,등촌역,46,1.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6.0
6298,2022,1,D,발달상권,2120188,압구정역,213,NaN,14.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6.0

# ★업종별로 구분되어있는 파일
- 상권+분기별로 aggregation
- 금액, 건수, 수 => sum
- 비율 => mean
- 단, 개업_율, 폐업_율, 매출_비율은 재계산함
----
- 점포 : 점포_groupby_0911.csv
- 추정매출 : 추정매출_groupby_0911.csv

## 점포

In [ ]:
점포.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '점포_수', '유사_업종_점포_수', '개업_율', '개업_점포_수',
       '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')

In [ ]:
점포['개업_율'].unique()

array([  0,  50,   8,   6, 100,  25,   4,  20,  13,  10,   2,   7,  14,
        33,  30,   9,   5,   3,  19,  12,  11,  67,   1,  17,  22,  18,
        15,  16,  29,  21,  43,  40,  36,  23,  27,  60,  38,  24])

In [ ]:
점포[점포['상권_코드_명']=='로데오거리상점가']

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
855,2022,4,R,전통시장,2130318,로데오거리상점가,CS300043,전자상거래업,3,3,0,0,0,0,0
856,2022,4,R,전통시장,2130318,로데오거리상점가,CS300036,조명용품,1,1,0,0,0,0,0
857,2022,4,R,전통시장,2130318,로데오거리상점가,CS300032,가전제품,1,1,0,0,0,0,0
858,2022,4,R,전통시장,2130318,로데오거리상점가,CS300031,가구,1,1,0,0,0,0,0
859,2022,4,R,전통시장,2130318,로데오거리상점가,CS300028,화초,2,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225790,2022,1,R,전통시장,2130318,로데오거리상점가,CS100005,제과점,3,7,0,0,0,0,4
225791,2022,1,R,전통시장,2130318,로데오거리상점가,CS100004,양식음식점,3,7,0,0,0,0,4
225792,2022,1,R,전통시장,2130318,로데오거리상점가,CS100003,일식음식점,5,8,13,1,0,0,3
225793,2022,1,R,전통시장,2130318,로데오거리상점가,CS100002,중식음식점,2,2,50,1,0,0,0
225794,2022,1,R,전통시장,2130318,로데오거리상점가,CS100001,한식음식점,55,65,2,1,2,1,10

In [ ]:
grouped = 점포.groupby(['상권_코드_명','기준_분기_코드'])

In [ ]:
grouped = grouped['점포_수', '유사_업종_점포_수', '개업_점포_수', '폐업_점포_수','프랜차이즈_점포_수'].agg('sum').reset_index()

<ipython-input-60-14c4de825e07>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped = grouped['점포_수', '유사_업종_점포_수', '개업_점포_수', '폐업_점포_수','프랜차이즈_점포_수'].agg('sum').reset_index()

In [ ]:
grouped['개업_율'] = grouped['개업_점포_수'] / grouped['점포_수']
grouped['폐업_율'] = grouped['폐업_점포_수'] / grouped['점포_수']

In [ ]:
grouped

,상권_코드_명,기준_분기_코드,점포_수,유사_업종_점포_수,개업_점포_수,폐업_점포_수,프랜차이즈_점포_수,개업_율,폐업_율
0,DMC(디지털미디어시티),1,606,766,19,10,160,0.031353,0.016502
1,DMC(디지털미디어시티),2,608,768,26,20,160,0.042763,0.032895
2,DMC(디지털미디어시티),3,616,774,22,17,158,0.035714,0.027597
3,DMC(디지털미디어시티),4,620,778,26,23,158,0.041935,0.037097
4,가락시장역,1,1098,1203,18,25,105,0.016393,0.022769
...,...,...,...,...,...,...,...,...,...
447,홍대입구역(홍대),4,2766,2979,93,84,213,0.033623,0.030369
448,화곡역,1,540,636,13,9,96,0.024074,0.016667
449,화곡역,2,541,634,20,21,93,0.036969,0.038817
450,화곡역,3,535,627,9,16,92,0.016822,0.029907
451,화곡역,4,538,631,13,11,93,0.024164,0.020446

In [ ]:
grouped.to_csv('점포_groupby_0911.csv',index=False)

In [ ]:
점포.iloc[:,:6].sort_values(by=['상권_코드_명','기준_분기_코드']).drop_duplicates().to_csv('점포1.csv')

In [ ]:
점포[점포['상권_코드_명']=='화곡역']

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
21046,2022,4,D,발달상권,2120120,화곡역,CS300043,전자상거래업,13,13,0,0,0,0,0
21047,2022,4,D,발달상권,2120120,화곡역,CS300042,주유소,2,2,0,0,0,0,0
21048,2022,4,D,발달상권,2120120,화곡역,CS300041,예술품,1,1,0,0,0,0,0
21049,2022,4,D,발달상권,2120120,화곡역,CS300040,재생용품 판매점,2,2,0,0,0,0,0
21050,2022,4,D,발달상권,2120120,화곡역,CS300036,조명용품,2,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246004,2022,1,D,발달상권,2120120,화곡역,CS100005,제과점,3,9,0,0,0,0,6
246005,2022,1,D,발달상권,2120120,화곡역,CS100004,양식음식점,2,4,0,0,0,0,2
246006,2022,1,D,발달상권,2120120,화곡역,CS100003,일식음식점,4,6,17,1,0,0,2
246007,2022,1,D,발달상권,2120120,화곡역,CS100002,중식음식점,9,11,0,0,0,0,2
246008,2022,1,D,발달상권,2120120,화곡역,CS100001,한식음식점,61,75,5,4,0,0,14

## 추정매출

In [ ]:
추정매출

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
472,2022,4,R,전통시장,2130318,로데오거리상점가,CS300028,화초,106627391,2763,...,436,1532,1177,42,1039,985,410,151,82,*
473,2022,4,R,전통시장,2130318,로데오거리상점가,CS300022,화장품,125348130,3772,...,59,871,2901,100,1528,638,579,480,447,13
474,2022,4,R,전통시장,2130318,로데오거리상점가,CS300019,의료기기,148864314,163,...,0,130,33,0,0,0,0,32,131,*
475,2022,4,R,전통시장,2130318,로데오거리상점가,CS300018,의약품,2428992365,184263,...,606,67575,116688,721,26688,46872,40823,33053,36106,10
476,2022,4,R,전통시장,2130318,로데오거리상점가,CS300017,시계및귀금속,336432341,1252,...,63,543,709,21,153,403,288,156,231,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136730,2022,1,A,골목상권,2110008,배화여자대학교(박노수미술관),CS100007,치킨전문점,56770798,2467,...,583,1298,1007,50,208,439,601,536,471,*
136731,2022,1,A,골목상권,2110008,배화여자대학교(박노수미술관),CS100005,제과점,538655034,37469,...,28,10958,26455,328,13009,11114,6303,4507,2150,9
136732,2022,1,A,골목상권,2110008,배화여자대학교(박노수미술관),CS100004,양식음식점,800621491,8827,...,440,2854,5623,39,3449,2907,800,909,370,13
136733,2022,1,A,골목상권,2110008,배화여자대학교(박노수미술관),CS100003,일식음식점,80139679,5334,...,0,2327,2748,184,1623,1256,898,942,173,4
136734,2022,1,A,골목상권,2110008,배화여자대학교(박노수미술관),CS100001,한식음식점,775454398,24719,...,1375,11841,10816,265,4912,5348,4223,4286,3625,18

In [ ]:
추정매출.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [ ]:
grouped2 = 추정매출.groupby(['상권_코드_명','기준_분기_코드'])

In [ ]:
groupby_sum2 = grouped2['분기당_매출_금액', '분기당_매출_건수', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'].agg('sum').reset_index()

groupby_mean2 = grouped2['주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율'].agg('mean').reset_index()

<ipython-input-82-411b75faa913>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  groupby_sum2 = grouped2['분기당_매출_금액', '분기당_매출_건수', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
<ipython-input-82-411b75faa913>:12: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'].agg('sum').reset_index()
<ipython-input-82-411b75faa913>:14: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  groupby_mean2 = grouped2['주중_매출_비율',

In [ ]:
grouped2 = pd.merge(groupby_mean2,groupby_sum2,on=['상권_코드_명','기준_분기_코드'],how='outer')
grouped2

,상권_코드_명,기준_분기_코드,주중_매출_비율,주말_매출_비율,월요일_매출_비율,화요일_매출_비율,수요일_매출_비율,목요일_매출_비율,금요일_매출_비율,토요일_매출_비율,...,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
0,DMC(디지털미디어시티),1,87.058824,13.000000,16.000000,17.352941,17.558824,20.705882,15.676471,8.441176,...,556373,103884,1529840,1099256,21602,629661,865791,662086,347486,102477
1,DMC(디지털미디어시티),2,86.800000,13.342857,14.971429,18.057143,18.200000,18.628571,17.257143,9.028571,...,653070,140591,1813285,1353372,27842,789194,1061698,779821,388932,119168
2,DMC(디지털미디어시티),3,87.500000,12.588235,16.441176,17.647059,18.117647,18.500000,16.911765,8.764706,...,661152,141263,1827834,1422398,27403,831645,1087417,785934,397466,120374
3,DMC(디지털미디어시티),4,84.147059,15.882353,14.882353,17.382353,17.823529,17.029412,17.088235,11.617647,...,622706,123690,1733676,1327909,29042,787854,1020776,746645,372235,105047
4,가락시장역,1,79.153846,20.871795,15.358974,16.358974,14.205128,17.153846,16.102564,13.205128,...,409702,116779,893168,574043,20206,295784,371648,287243,257158,235175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,홍대입구역(홍대),4,70.326087,29.760870,13.086957,13.391304,12.500000,15.956522,15.500000,19.239130,...,1720283,791179,2397049,3097982,286648,2835070,1183236,564804,490982,134305
448,화곡역,1,78.105263,21.973684,14.605263,16.500000,13.394737,19.236842,14.605263,13.315789,...,588089,181219,943260,957047,30888,454063,519976,376373,279257,239757
449,화곡역,2,73.138889,27.027778,15.444444,14.055556,13.944444,14.500000,15.416667,18.194444,...,639872,254871,1068733,1067860,38260,525330,577976,425269,305236,264522
450,화곡역,3,76.194444,23.833333,14.750000,17.722222,12.361111,16.555556,15.166667,15.083333,...,620187,240369,1054582,1047786,38363,513150,556211,427587,304370,262685
451,화곡역,4,77.361111,22.805556,17.666667,13.944444,13.250000,16.277778,16.472222,14.472222,...,578380,221251,983029,967036,41917,456337,522397,387654,286737,255010

In [ ]:
grouped2.columns

Index(['상권_코드_명', '기준_분기_코드', '주중_매출_비율', '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율',
       '수요일_매출_비율', '목요일_매출_비율', '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율',
       '시간대_00~06_매출_비율', '시간대_06~11_매출_비율', '시간대_11~14_매출_비율',
       '시간대_14~17_매출_비율', '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율',
       '여성_매출_비율', '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율',
       '연령대_40_매출_비율', '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '분기당_매출_금액',
       '분기당_매출_건수', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액', '화요일_매출_금액',
       '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액',
       '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수'],
      dtype='object')

In [ ]:
grouped2.to_csv('추정매출_groupby_0911.csv',index=False)

# 다 합쳐보기
- 점포, 추정매출, 상권변화지표, 집객시설, 아파트, 상주인구, 직장인구, 생활인구
- 컬럼 정제 없이 모든 컬럼 포함됨

In [ ]:
점포 = pd.read_csv('점포_groupby_0911.csv')
추정매출 = pd.read_csv('추정매출_groupby_0911.csv')

In [ ]:
아파트

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,아파트_단지_수,아파트_면적_66_제곱미터_미만_세대_수,아파트_면적_66_제곱미터_세대_수,아파트_면적_99_제곱미터_세대_수,...,아파트_면적_165_제곱미터_세대_수,아파트_가격_1_억_미만_세대_수,아파트_가격_1_억_세대_수,아파트_가격_2_억_세대_수,아파트_가격_3_억_세대_수,아파트_가격_4_억_세대_수,아파트_가격_5_억_세대_수,아파트_가격_6_억_이상_세대_수,아파트_평균_면적,아파트_평균_시가
32,2022,4,R,전통시장,2130318,로데오거리상점가,2,299.0,NaN,NaN,...,NaN,NaN,296.0,3.0,NaN,NaN,NaN,NaN,25,116658217
33,2022,3,R,전통시장,2130318,로데오거리상점가,2,299.0,NaN,NaN,...,NaN,NaN,296.0,3.0,NaN,NaN,NaN,NaN,25,116658217
34,2022,2,R,전통시장,2130318,로데오거리상점가,2,299.0,NaN,NaN,...,NaN,NaN,296.0,3.0,NaN,NaN,NaN,NaN,25,116658217
35,2022,1,R,전통시장,2130318,로데오거리상점가,2,299.0,NaN,NaN,...,NaN,NaN,296.0,3.0,NaN,NaN,NaN,NaN,25,116658217
104,2022,4,R,전통시장,2130285,서원동상점가,3,127.0,NaN,NaN,...,NaN,86.0,36.0,4.0,1.0,NaN,NaN,NaN,17,124636525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5643,2022,1,A,골목상권,2110074,서울역 12번,34,224.0,96.0,11.0,...,2.0,1.0,52.0,68.0,88.0,95.0,23.0,9.0,60,372362265
5884,2022,4,A,골목상권,2110008,배화여자대학교(박노수미술관),166,1069.0,276.0,27.0,...,1.0,109.0,435.0,696.0,120.0,5.0,7.0,1.0,58,205494163
5885,2022,3,A,골목상권,2110008,배화여자대학교(박노수미술관),166,1069.0,276.0,27.0,...,1.0,109.0,435.0,696.0,120.0,5.0,7.0,1.0,58,205494163
5886,2022,2,A,골목상권,2110008,배화여자대학교(박노수미술관),166,1069.0,276.0,27.0,...,1.0,109.0,435.0,696.0,120.0,5.0,7.0,1.0,58,205494163
5887,2022,1,A,골목상권,2110008,배화여자대학교(박노수미술관),166,1069.0,276.0,27.0,...,1.0,109.0,435.0,696.0,120.0,5.0,7.0,1.0,58,205494163

In [ ]:
data_dict = {'점포':점포,
            '추정매출':추정매출,
            '상권변화지표':상권변화지표,
            '집객시설':집객시설,
            '아파트':아파트,
            '상주인구':상주인구,
            '직장인구':직장인구,
            '생활인구':생활인구}

In [ ]:
# 모든 상권, 2022 1~4분기를 포함한 데이터 프레임 생성 = base_df
# 여기다가 다른 상권들 left로 merge
base_df.rename(columns={'trdar_nm':'상권_코드_명','quarter':'기준_분기_코드'},inplace=True)
base_df = base_df[['상권_코드_명','기준_분기_코드']]
base_df

In [ ]:
점포

,상권_코드_명,기준_분기_코드,점포_수,유사_업종_점포_수,개업_점포_수,폐업_점포_수,프랜차이즈_점포_수,개업_율,폐업_율
0,DMC(디지털미디어시티),1,606,766,19,10,160,0.031353,0.016502
1,DMC(디지털미디어시티),2,608,768,26,20,160,0.042763,0.032895
2,DMC(디지털미디어시티),3,616,774,22,17,158,0.035714,0.027597
3,DMC(디지털미디어시티),4,620,778,26,23,158,0.041935,0.037097
4,가락시장역,1,1098,1203,18,25,105,0.016393,0.022769
...,...,...,...,...,...,...,...,...,...
447,홍대입구역(홍대),4,2766,2979,93,84,213,0.033623,0.030369
448,화곡역,1,540,636,13,9,96,0.024074,0.016667
449,화곡역,2,541,634,20,21,93,0.036969,0.038817
450,화곡역,3,535,627,9,16,92,0.016822,0.029907
451,화곡역,4,538,631,13,11,93,0.024164,0.020446

In [ ]:
a = pd.merge(base_df, 점포, on=['상권_코드_명','기준_분기_코드'],how='outer')
a = pd.merge(a, 추정매출, on=['상권_코드_명','기준_분기_코드'],how='outer')
a = pd.merge(a, 상권변화지표, on=['상권_코드_명','기준_분기_코드'],how='outer')
a = pd.merge(a, 집객시설, on=['상권_코드_명','기준_분기_코드'],how='outer')
a = pd.merge(a, 아파트, on=['상권_코드_명','기준_분기_코드'],how='outer')
a = pd.merge(a, 상주인구, on=['상권_코드_명','기준_분기_코드'],how='outer')
a = pd.merge(a, 직장인구, on=['상권_코드_명','기준_분기_코드'],how='outer')
a = pd.merge(a, 생활인구, on=['상권_코드_명','기준_분기_코드'],how='outer')

a

<ipython-input-125-0ef40e24a6f4>:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'기준_년_코드_x', '상권_구분_코드_명_x', '상권_코드_x', '상권_구분_코드_x'} in the result is deprecated and will raise a MergeError in a future version.
  a = pd.merge(a, 상주인구, on=['상권_코드_명','기준_분기_코드'],how='outer')
<ipython-input-125-0ef40e24a6f4>:8: FutureWarning: Passing 'suffixes' which cause duplicate columns {'기준_년_코드_x', '상권_코드_x', '상권_구분_코드_x'} in the result is deprecated and will raise a MergeError in a future version.
  a = pd.merge(a, 생활인구, on=['상권_코드_명','기준_분기_코드'],how='outer')

,상권_코드_명,기준_분기_코드,점포_수,유사_업종_점포_수,개업_점포_수,폐업_점포_수,프랜차이즈_점포_수,개업_율,폐업_율,주중_매출_비율,...,여성연령대_60_이상_토요일시간대_3_생활인구_수,여성연령대_60_이상_토요일시간대_4_생활인구_수,여성연령대_60_이상_토요일시간대_5_생활인구_수,여성연령대_60_이상_토요일시간대_6_생활인구_수,여성연령대_60_이상_일요일시간대_1_생활인구_수,여성연령대_60_이상_일요일시간대_2_생활인구_수,여성연령대_60_이상_일요일시간대_3_생활인구_수,여성연령대_60_이상_일요일시간대_4_생활인구_수,여성연령대_60_이상_일요일시간대_5_생활인구_수,여성연령대_60_이상_일요일시간대_6_생활인구_수
0,DMC(디지털미디어시티),1,606,766,19,10,160,0.031353,0.016502,87.058824,...,250,308,353,191,221,278,232,253,348,186
1,DMC(디지털미디어시티),2,608,768,26,20,160,0.042763,0.032895,86.800000,...,279,322,420,190,190,283,251,293,408,188
2,DMC(디지털미디어시티),3,616,774,22,17,158,0.035714,0.027597,87.500000,...,302,353,457,186,194,288,255,316,402,191
3,DMC(디지털미디어시티),4,620,778,26,23,158,0.041935,0.037097,84.147059,...,301,369,440,196,199,314,252,273,362,193
4,가락시장역,1,1098,1203,18,25,105,0.016393,0.022769,79.153846,...,2885,2906,3751,2114,3941,3511,2481,2601,3364,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,홍대입구역(홍대),4,2766,2979,93,84,213,0.033623,0.030369,70.326087,...,3140,3332,4339,2635,4436,4096,3153,3127,4059,2517
448,화곡역,3,535,627,9,16,92,0.016822,0.029907,76.194444,...,3213,3352,4853,2768,3414,3724,3013,3291,4591,2695
449,화곡역,1,540,636,13,9,96,0.024074,0.016667,78.105263,...,2949,3125,4480,2613,3826,3692,2825,3001,4210,2527
450,화곡역,2,541,634,20,21,93,0.036969,0.038817,73.138889,...,3215,3375,4929,2895,3671,3805,3020,3309,4685,2790
451,화곡역,4,538,631,13,11,93,0.024164,0.020446,77.361111,...,3316,3427,4951,2760,3760,3952,3095,3314,4649,2689

In [ ]:
a.to_csv('/content/drive/MyDrive/bigcon/commercial_district_rawdata/output/seoul_final.csv',index=False)

In [ ]:
a

,상권_코드_명,기준_분기_코드,점포_수,유사_업종_점포_수,개업_점포_수,폐업_점포_수,프랜차이즈_점포_수,개업_율,폐업_율,주중_매출_비율,...,여성연령대_60_이상_토요일시간대_3_생활인구_수,여성연령대_60_이상_토요일시간대_4_생활인구_수,여성연령대_60_이상_토요일시간대_5_생활인구_수,여성연령대_60_이상_토요일시간대_6_생활인구_수,여성연령대_60_이상_일요일시간대_1_생활인구_수,여성연령대_60_이상_일요일시간대_2_생활인구_수,여성연령대_60_이상_일요일시간대_3_생활인구_수,여성연령대_60_이상_일요일시간대_4_생활인구_수,여성연령대_60_이상_일요일시간대_5_생활인구_수,여성연령대_60_이상_일요일시간대_6_생활인구_수
0,DMC(디지털미디어시티),1,606,766,19,10,160,0.031353,0.016502,87.058824,...,250,308,353,191,221,278,232,253,348,186
1,DMC(디지털미디어시티),2,608,768,26,20,160,0.042763,0.032895,86.800000,...,279,322,420,190,190,283,251,293,408,188
2,DMC(디지털미디어시티),3,616,774,22,17,158,0.035714,0.027597,87.500000,...,302,353,457,186,194,288,255,316,402,191
3,DMC(디지털미디어시티),4,620,778,26,23,158,0.041935,0.037097,84.147059,...,301,369,440,196,199,314,252,273,362,193
4,가락시장역,1,1098,1203,18,25,105,0.016393,0.022769,79.153846,...,2885,2906,3751,2114,3941,3511,2481,2601,3364,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,홍대입구역(홍대),4,2766,2979,93,84,213,0.033623,0.030369,70.326087,...,3140,3332,4339,2635,4436,4096,3153,3127,4059,2517
448,화곡역,3,535,627,9,16,92,0.016822,0.029907,76.194444,...,3213,3352,4853,2768,3414,3724,3013,3291,4591,2695
449,화곡역,1,540,636,13,9,96,0.024074,0.016667,78.105263,...,2949,3125,4480,2613,3826,3692,2825,3001,4210,2527
450,화곡역,2,541,634,20,21,93,0.036969,0.038817,73.138889,...,3215,3375,4929,2895,3671,3805,3020,3309,4685,2790
451,화곡역,4,538,631,13,11,93,0.024164,0.020446,77.361111,...,3316,3427,4951,2760,3760,3952,3095,3314,4649,2689