In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/SEOUL.csv')
df

,상권_코드_명,상권_코드,기준_년_코드,기준_분기_코드,점포_수,유사_업종_점포_수,개업_율,폐업_율,주중_매출_금액,주말_매출_금액,...,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,집객시설_수,교통_인프라,총 상주인구 수,총_직장_인구_수,총_생활인구_수,월_평균_소득_금액,경영_위기_비율
0,DMC(디지털미디어시티),2120098,2022,1,606,766,0.031353,0.016502,37382867518,4965199863,...,9081633819,6171147110,1780693548,72,24,1285,8846.0,318202,3567709.0,0.150943
1,DMC(디지털미디어시티),2120098,2022,2,608,768,0.042763,0.032895,44571825145,6419369163,...,10697503069,6545575249,2080021951,72,24,1285,8846.0,358782,3567709.0,0.207547
2,DMC(디지털미디어시티),2120098,2022,3,616,774,0.035714,0.027597,45385927882,6105428418,...,10433246146,6625637008,1937129156,72,24,1285,8846.0,352688,3567709.0,0.142857
3,DMC(디지털미디어시티),2120098,2022,4,620,778,0.041935,0.037097,45085782411,6797770801,...,10460774846,6557309916,2074151287,72,24,1285,8846.0,355095,3567709.0,0.291667
4,가락시장역,2120234,2022,1,1098,1203,0.016393,0.022769,26990791235,6976589934,...,6511606120,8120967586,7410207943,62,3,2694,10268.0,1430185,3494644.0,0.235294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,홍대입구역(홍대),2120103,2022,4,2766,2979,0.033623,0.030369,92392017749,57218258558,...,17740715097,13917942103,4185514344,91,22,4789,9580.0,3897068,2934520.0,0.189474
448,화곡역,2120120,2022,1,540,636,0.024074,0.016667,23115288238,7259401338,...,6093983322,5310181908,5210055110,88,16,2748,927.0,1102013,2624496.0,0.166667
449,화곡역,2120120,2022,2,541,634,0.036969,0.038817,25228502516,8653350438,...,7460624555,5578093316,5393266676,88,16,2748,927.0,1168431,2624496.0,0.473684
450,화곡역,2120120,2022,3,535,627,0.016822,0.029907,25512611649,7832439156,...,6975450949,5885671302,5776254401,88,16,2748,927.0,1163547,2624496.0,0.380952
451,화곡역,2120120,2022,4,538,631,0.024164,0.020446,24255742286,8443543829,...,6951351325,6118351707,5449429943,88,16,2748,927.0,1208993,2624496.0,0.380952

In [3]:
df.columns

Index(['상권_코드_명', '상권_코드', '기준_년_코드', '기준_분기_코드', '점포_수', '유사_업종_점포_수', '개업_율',
       '폐업_율', '주중_매출_금액', '주말_매출_금액', '남성_매출_금액', '여성_매출_금액', '연령대_10_매출_금액',
       '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액',
       '연령대_60_이상_매출_금액', '집객시설_수', '교통_인프라', '총 상주인구 수', '총_직장_인구_수',
       '총_생활인구_수', '월_평균_소득_금액', '경영_위기_비율'],
      dtype='object')

In [7]:
df['총_매출_금액'] = df['주중_매출_금액'] + df['주말_매출_금액']
df['총_매출_금액_성별'] = df['남성_매출_금액'] + df['여성_매출_금액']
df['총_매출_금액_연령대'] = df['연령대_10_매출_금액']+df['연령대_20_매출_금액']+df['연령대_30_매출_금액']+df['연령대_40_매출_금액']+df['연령대_50_매출_금액']+df['연령대_60_이상_매출_금액']

In [8]:
df['주중_매출_비율'] = df['주중_매출_금액'] / df['총_매출_금액']
df['주말_매출_비율'] = df['주말_매출_금액'] / df['총_매출_금액']
df['남성_매출_비율'] = df['남성_매출_금액'] / df['총_매출_금액_성별']
df['여성_매출_비율'] = df['여성_매출_금액'] / df['총_매출_금액_성별']
df['연령대_1020_매출_비율'] = (df['연령대_10_매출_금액']+df['연령대_20_매출_금액']) / df['총_매출_금액_연령대']
df['연령대_3040_매출_비율'] = (df['연령대_30_매출_금액']+df['연령대_40_매출_금액']) / df['총_매출_금액_연령대']
df['연령대_5060_매출_비율'] = (df['연령대_50_매출_금액']+df['연령대_60_이상_매출_금액']) / df['총_매출_금액_연령대']

In [10]:
df.columns

Index(['상권_코드_명', '상권_코드', '기준_년_코드', '기준_분기_코드', '점포_수', '유사_업종_점포_수', '개업_율',
       '폐업_율', '주중_매출_금액', '주말_매출_금액', '남성_매출_금액', '여성_매출_금액', '연령대_10_매출_금액',
       '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액',
       '연령대_60_이상_매출_금액', '집객시설_수', '교통_인프라', '총 상주인구 수', '총_직장_인구_수',
       '총_생활인구_수', '월_평균_소득_금액', '경영_위기_비율', '총_매출_금액', '주중_매출_비율', '주말_매출_비율',
       '남성_매출_비율', '여성_매출_비율', '연령대_1020_매출_비율', '연령대_3040_매출_비율',
       '연령대_5060_매출_비율', '총_매출_금액_성별', '총_매출_금액_연령대'],
      dtype='object')

In [11]:
df = df[['상권_코드_명', '상권_코드', '기준_년_코드', '기준_분기_코드','유사_업종_점포_수', '개업_율',
       '폐업_율','주중_매출_비율', '주말_매출_비율',
       '남성_매출_비율', '여성_매출_비율', '연령대_1020_매출_비율', '연령대_3040_매출_비율',
       '연령대_5060_매출_비율','집객시설_수', '교통_인프라', '총 상주인구 수', '총_직장_인구_수',
       '총_생활인구_수', '월_평균_소득_금액', '경영_위기_비율']]

In [12]:
df

,상권_코드_명,상권_코드,기준_년_코드,기준_분기_코드,유사_업종_점포_수,개업_율,폐업_율,주중_매출_비율,주말_매출_비율,남성_매출_비율,...,연령대_1020_매출_비율,연령대_3040_매출_비율,연령대_5060_매출_비율,집객시설_수,교통_인프라,총 상주인구 수,총_직장_인구_수,총_생활인구_수,월_평균_소득_금액,경영_위기_비율
0,DMC(디지털미디어시티),2120098,2022,1,766,0.031353,0.016502,0.882753,0.117247,0.532487,...,0.166844,0.583242,0.249914,72,24,1285,8846.0,318202,3567709.0,0.150943
1,DMC(디지털미디어시티),2120098,2022,2,768,0.042763,0.032895,0.874108,0.125892,0.529133,...,0.175676,0.593012,0.231312,72,24,1285,8846.0,358782,3567709.0,0.207547
2,DMC(디지털미디어시티),2120098,2022,3,774,0.035714,0.027597,0.881428,0.118572,0.526975,...,0.184997,0.587134,0.227869,72,24,1285,8846.0,352688,3567709.0,0.142857
3,DMC(디지털미디어시티),2120098,2022,4,778,0.041935,0.037097,0.868980,0.131020,0.527500,...,0.183274,0.584706,0.232020,72,24,1285,8846.0,355095,3567709.0,0.291667
4,가락시장역,2120234,2022,1,1203,0.016393,0.022769,0.794609,0.205391,0.546158,...,0.100028,0.389655,0.510317,62,3,2694,10268.0,1430185,3494644.0,0.235294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,홍대입구역(홍대),2120103,2022,4,2979,0.033623,0.030369,0.617551,0.382449,0.431874,...,0.501809,0.371155,0.127036,91,22,4789,9580.0,3897068,2934520.0,0.189474
448,화곡역,2120120,2022,1,636,0.024074,0.016667,0.761005,0.238995,0.485096,...,0.197469,0.451777,0.350755,88,16,2748,927.0,1102013,2624496.0,0.166667
449,화곡역,2120120,2022,2,634,0.036969,0.038817,0.744602,0.255398,0.489530,...,0.208147,0.463911,0.327942,88,16,2748,927.0,1168431,2624496.0,0.473684
450,화곡역,2120120,2022,3,627,0.016822,0.029907,0.765109,0.234891,0.494202,...,0.200589,0.445831,0.353580,88,16,2748,927.0,1163547,2624496.0,0.380952
451,화곡역,2120120,2022,4,631,0.024164,0.020446,0.741782,0.258218,0.504047,...,0.191336,0.450515,0.358150,88,16,2748,927.0,1208993,2624496.0,0.380952

In [13]:
df.to_csv('../data/SEOUL.csv',index=False)