In [1]:
import pandas as pd

In [ ]:
class1 = pd.read_csv('../data/CREDIT_CLASS_1.csv')
class1

In [2]:
seoul = pd.read_csv('../data/SEOUL.csv')
seoul.drop('경영_위기_비율', axis=1, inplace=True)
seoul

,상권_코드_명,상권_코드,기준_년_코드,기준_분기_코드,유사_업종_점포_수,개업_율,폐업_율,주중_매출_비율,주말_매출_비율,남성_매출_비율,여성_매출_비율,연령대_1020_매출_비율,연령대_3040_매출_비율,연령대_5060_매출_비율,집객시설_수,교통_인프라,총 상주인구 수,총_직장_인구_수,총_생활인구_수,월_평균_소득_금액
0,DMC(디지털미디어시티),2120098,2022,1,766,0.031353,0.016502,0.882753,0.117247,0.532487,0.467513,0.166844,0.583242,0.249914,72,24,1285,8846.0,318202,3567709.0
1,DMC(디지털미디어시티),2120098,2022,2,768,0.042763,0.032895,0.874108,0.125892,0.529133,0.470867,0.175676,0.593012,0.231312,72,24,1285,8846.0,358782,3567709.0
2,DMC(디지털미디어시티),2120098,2022,3,774,0.035714,0.027597,0.881428,0.118572,0.526975,0.473025,0.184997,0.587134,0.227869,72,24,1285,8846.0,352688,3567709.0
3,DMC(디지털미디어시티),2120098,2022,4,778,0.041935,0.037097,0.868980,0.131020,0.527500,0.472500,0.183274,0.584706,0.232020,72,24,1285,8846.0,355095,3567709.0
4,가락시장역,2120234,2022,1,1203,0.016393,0.022769,0.794609,0.205391,0.546158,0.453842,0.100028,0.389655,0.510317,62,3,2694,10268.0,1430185,3494644.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,홍대입구역(홍대),2120103,2022,4,2979,0.033623,0.030369,0.617551,0.382449,0.431874,0.568126,0.501809,0.371155,0.127036,91,22,4789,9580.0,3897068,2934520.0
448,화곡역,2120120,2022,1,636,0.024074,0.016667,0.761005,0.238995,0.485096,0.514904,0.197469,0.451777,0.350755,88,16,2748,927.0,1102013,2624496.0
449,화곡역,2120120,2022,2,634,0.036969,0.038817,0.744602,0.255398,0.489530,0.510470,0.208147,0.463911,0.327942,88,16,2748,927.0,1168431,2624496.0
450,화곡역,2120120,2022,3,627,0.016822,0.029907,0.765109,0.234891,0.494202,0.505798,0.200589,0.445831,0.353580,88,16,2748,927.0,1163547,2624496.0
451,화곡역,2120120,2022,4,631,0.024164,0.020446,0.741782,0.258218,0.504047,0.495953,0.191336,0.450515,0.358150,88,16,2748,927.0,1208993,2624496.0

In [ ]:
class1_isrisky = class1['기준연도', '분기', '상권코드', '업종', '경영_위기_평균']

In [ ]:
pd.merge(class1_isrisky, seoul, on= ['기준연도', '분기', '상권코드'], how='left')